services:
  mongodb:
    image: mongo:4.4.25
    ports:
      - "8011:27017"
    volumes:
      - ./volumes/mongodb:/data/db

  redis:
    image: redis:7.0.4
    ports:
      - "8012:6379"

  providers:
    build:
      context: .
    profiles:
      - application
    depends_on:
      - mongodb
      - redis
    volumes:
      - .:/opt/project
    environment:
      - SENTRY_URL
      - MONGODB_URL
      - REDIS_URL
      - ADMIN_DB_URL
      - GOOGLE_API_KEY
      - PROVIDER
      - BORN_TO_FLY_VENDOR_ID
      - BORN_TO_FLY_DEVICE_ID
      - FFVL_API_KEY
      - IWEATHAR_KEY
      - KACHELMANN_API_KEY
      - ROMMA_KEY
      - WINDLINE_SQL_URL
      - WINDY_API_KEY

networks:
  default:
    name: winds-mobi
